        
         body{
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
         }
          .name1{
            display: block;
           margin-bottom: 450px;
           position: absolute;
          font-size: 30px; 
           color: rgb(7, 101, 254) ;
         }
         form{
            background-color: #f2f4f7;
            padding: 10px;
           width: 300px;
           display: flex;
           flex-wrap: wrap;
           gap: 7px;
           border: 2px solid rgb(7, 101, 254);
           border-radius: 10px;
         }
        
        form input{
            background-color: rgb(255, 255, 255);
        border: none;
         outline-color: rgb(7, 101, 254);
        color: rgb(0, 0, 0);
        padding: 5px 20px;
        flex-basis:200px;
         flex-grow: 1;
         border-radius: 7px; 
        }
        
       form button{
         background-color: #42ca27;
         border: none;
         color: #ffffff;
         font-size: 20px;
         cursor: pointer;
         padding: 5px 10px;
         flex-basis: 30px;
         flex-grow: 1;

       }
       form button:hover{
         background-color: #1d9305;
       }
   